body {
    background: #f3f4f9;
}


/* 能源经营业务 */

.news-left-block {
    float: left;
    width: 6px;
    height: 16px;
    background: #0070C9;
    margin-left: 16px;
    margin-top: 20px;
}

.news-title {
    float: left;
    width: calc(100% - 0.7% - 0.7% - 6px - 16px);
    margin-left: 0.7%;
    margin-right: 0.7%;
    border-bottom: 1px solid #E4EBF0;
}

.news-title>p {
    cursor: default;
    float: left;
    font-size: 16px;
    color: #0070C9;
    margin-top: 17px;
    margin-bottom: 13px;
    font-weight: bold;
}

.layui-tag {
    margin-top: 20px;
    margin-bottom: 14px;
    cursor: pointer;
}

.layui-tag span {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    margin-left: 5px;
}

.layui-tag .tag-info {
    margin-left: 20px;
    font-size: 14px;
    color: #6e7c87;
}

.layui-tag .tag-num {
    font-size: 24px;
    color: #6e7c87;
    margin-top: 10px;
    margin-left: 20px;
}

.chart-box {
    padding: 12px;
}

.chart-title {
    padding-bottom: 10px;
    border-bottom: 1px solid #E4EBF0;
}

.layui-btn-group .layui-btn-primary:hover {
    color: #0070C9;
    border-top: 1px solid #0070C9;
    border-right: 1px solid #0070C9;
    border-bottom: 1px solid #0070C9;
}

.chart-content {
    margin-top: 14px;
    width: 100%;
    height: 700px;
}


/* 地图内容 */

.info-box {
    padding: 12px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background: rgba(36, 110, 221, .6);
    border-radius: 5px;
}

#btnChart {
    border-right: none;
}

.label-user {
    color: #666;
}


/* 
.input-user {
    margin-left: 10px;
} */

.xm-form-checkbox > i {
    /* background-color: #0070C9; */
    border: 1px solid #0070C9;
}

.xm-form-checkbox:hover > i {
    /* background-color: #0070C9; */
    border: 1px solid #0070C9;
}

.xm-select-parent dl dd.xm-select-this div i {
    color: #0070C9;
}

.xm-form-selected .xm-select, .xm-form-selected .xm-select:hover {
    border-color: #0070C9
}

.xm-select-parent .xm-select-title div.xm-select-label>span {
    background-color: #0070C9;
}

.layui-form-item div[xm-select-skin] .xm-select-title div.xm-select-label>span {
    border: 1px solid #0070C9;
}

.xm-select-parent dd .xm-cz:hover {
    color: #0070C9;
}

.layui-laydate .layui-laydate-content .layui-this {
    background-color: #0070C9!important;
}