body {
    background: #f3f4f9;
}

/* 能源经营业务 */
.news-left-block {
    float: left;

    width: 6px;
    height: 16px;

    background: #0070C9;

    margin-left: 16px;
    margin-top: 20px;

}

.news-title {
    float: left;

    width: calc(100% - 0.7% - 0.7% - 6px - 16px);

    margin-left: 0.7%;
    margin-right: 0.7%;

    border-bottom: 1px solid #E4EBF0;
}

.news-title>p {
    cursor: default;

    float: left;

    font-size: 16px;
    color: #222637;

    margin-top: 17px;
    margin-left: 8px;
    margin-bottom: 13px;
}

.layui-tag {
    margin-top: 20px;
    border-right: 1px solid #E3E3E3;
    margin-bottom: 24px;
  }
  
  .layui-tag span {
    display: block;
    text-align: center;
  }
  
  
  .layui-tag .tag-num {
    font-size: 26px;
    color: #0070C9;
    margin-bottom: 18px;
  }

.chart-box {
    padding: 12px;
    padding-top: 0;
}

.layui-btn-group .layui-btn-primary:hover {
    color: #0070C9;
    border-top: 1px solid #0070C9;
    border-right: 1px solid #0070C9;
    border-bottom: 1px solid #0070C9;
}

.chart-content {
    margin-top: 14px;
    width: 100%;
    height: 810px;
}

/* 地图内容 */
.chart-info-box {
    padding: 12px;

    font-size: 14px;

    line-height: 20px;

    color: #fff;

    background: rgba(0,112,201,.7);
    border-radius: 5px;
}

.chart-info-box h1 {
    font-size: 18px;
}

.chart-info-item {
    margin-top: 10px;
}

.chart-info-box p {
    line-height: 25px;
}

#btnChart {
    border-right: none;
}

.operation-title>h1 {
    font-size: 18px;

    text-align: center;

    margin-top: 10px;

    font-weight: bold;
}

.operation-content {
    background: #0070C9;
    color: #fff;
    border-radius: 5px;

    margin-top: 10px;
    padding-bottom: 5px;
}

.operation-item-box {
    margin-top: 10px;
}

.option-item-info>p {
    text-align: right;
    margin-right: 10px;
}

.option-item-number {
    font-size: 20px;
}