/* body {
  background: #f3f4f9;
} */


/* 能源经营业务 */


/* .news-left-block {
  float: left;

  width: 6px;
  height: 16px;

  background: #0070C9;

  margin-left: 16px;
  margin-top: 20px;

}

.news-title {
  float: left;

  width: calc(100% - 0.7% - 0.7% - 6px - 16px);

  margin-left: 0.7%;
  margin-right: 0.7%;

  border-bottom: 1px solid #E4EBF0;
}

.news-title>p {
  cursor: default;

  float: left;

  font-size: 16px;
  color: #222637;

  margin-top: 17px;
  margin-left:8px;
  margin-bottom: 13px;
}

.layui-tag {
  margin-top: 20px;
  border-right: 1px solid #E3E3E3;
  margin-bottom: 24px;
}

.layui-tag span {
  display: block;
  text-align: center;
}


.layui-tag .tag-num {
  font-size: 26px;
  color: #0070C9;
  margin-bottom: 18px;
}

.chart-box {
  padding: 12px;
}

.chart-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #E4EBF0;
}

.layui-btn-group .layui-btn-primary:hover {
  color: #0070C9;
  border-top: 1px solid #0070C9;
  border-right: 1px solid #0070C9;
  border-bottom: 1px solid #0070C9;
}

.chart-content {
  margin-top: 14px;
  width: 100%;
  height: 700px;
}
*/


/* 地图内容 */


/* 
.info-box {
    padding: 12px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    background: rgba(36, 110, 221, .6);
    border-radius: 5px;
}

#btnChart {
    border-right: none;
} */

html,
body {
    height: 100%;
    background: #f3f4f9;
}

.energy-tip {
    margin-top: 3.2%;
}

.energy-tip p {
    display: inline-block;
    font-size: 15px;
    color: #222637;
    margin-left: 2%;
    margin-right: 2%;
    cursor: pointer;
}

.energy-tip .energy-block {
    display: block;
    width: 0;
    height: 0.4rem;
    margin-top: 0.3rem;
    margin-left: auto;
    margin-right: auto;
    background: #0070C9;
    -webkit-transition: .3s all cubic-bezier(.46, 1, .23, 1.52);
    -moz-transition: .3s all cubic-bezier(.46, 1, .23, 1.52);
    -o-transition: .3s all cubic-bezier(.46, 1, .23, 1.52);
    transition: .3s all cubic-bezier(.46, 1, .23, 1.52);
}

.text-active {
    color: #0070C9;
}

.energy-tip .energy-block.active {
    width: 1.1rem;
}

.layui-tree-skin-shihuang {
    margin-top: 30px;
}

.layui-tree-skin-shihuang a {
    color: #fff;
}

.layui-tree li i {
    color: #fff;
}

.layui-table td,
.layui-table th {
    padding: 9px 10px;
}


/* 页脚 */

.layui-layout-admin .footer {
    width: 100%;
    height: 60px;
    background: #5A6378;
    ;
    color: #fff;
    font-size: 14px;
    color: #B7B7B7;
    text-align: center;
    padding-top: 10px;
}

.current {
    color: #0070C9;
}

.layui-layout-admin .footer p {
    line-height: 30px;
}